@{
    ViewData["Title"] = "Home";
}
<h1>Welkom bij Tekentovenaar</h1>

<form method="post" action="/Home/SetUser">
    <input type="hidden" name="username" value="user1" />
    <button type="submit" class="btn btn-primary">Naar het canvas (user1)</button>
</form>

<form method="post" action="/Home/SetUser">
    <input type="hidden" name="username" value="user2" />
    <button type="submit" class="btn btn-primary">Naar het canvas (user2)</button>
</form>