@{
    ViewData["Title"] = "Home";
}
<h1>Welkom bij Tekentovenaar</h1>
<a class="btn btn-primary" href="/Canvas?username=user1">Naar het canvas (user1)</a>
<a class="btn btn-primary" href="/Canvas?username=user2">Naar het canvas (user2)</a>