<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Tekentovenaar</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
<main role="main">
    @RenderBody()
</main>

<!-- Add this line to render the Scripts section -->
@RenderSection("Scripts", required: false)
</body>
</html>