@{
    ViewData["Title"] = "Canvas";
    var username = ViewData["Username"]?.ToString();
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<section class="container">
    <div id="toolbar">
        <h1>Draw.</h1>
        <label for="stroke">Color:</label>
        <input id="stroke" name='stroke' type="color">
        <label for="lineWidth">Line Width</label>
        <input id="lineWidth" name='lineWidth' type="number" value="5">
        <button id="clear">Clear</button>
        <button id="undo">Undo</button>
        <button id="redo">Redo</button>
    </div>

    <div class="drawing-board">
        <canvas id="drawing-board"></canvas>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/canvas.js"></script>
</section>
</body>
</html>